/* Variables */
$main-colour:#1C4CD1;
$accent-colour: #FF8D41;
$secondary-font: 'Montserrat';
$text-size: 14px;
$title-size:20px;

/* Mixins */
@mixin button {
    background-color: transparent;
    border: 0;
}

/* Layout */

.overview__wrapper {
    width: 100%;

    .flex--sb {
        display: flex;
        justify-content: space-between;
    }

    .intro--wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 50%;
        overflow-wrap: break-word;
    }

    .metadata--basic,
    .metadata--more {
        column-count: 2;
        margin-bottom: 15px;
        color: $main-colour;
        max-width: 60%;

        p {
            margin-bottom: 10px;
        }
    }

    .metadata--more {
        padding: 10px;
        border: 3px solid $main-colour;
        margin-top: -2px;
    }

    .distributions {
        width: 60%;

        .header {
            width: 50%;
            border-bottom: 1px solid $accent-colour;
            align-items: center;
            margin-top: 15px;
        }

        .distribution__row {
            margin-top: 10px;
            padding: 10px;
            min-height: 50px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);

            &:focus {
                border: 2px solid $main-colour;
            }

            .distribution__format {
                align-items: center;
                color: $main-colour;

                p {
                    margin-right: 10px;
                }
            }
        }

    }

    .escoOverview__statBox {
        width: 100px;
        height: 120px;
        margin-right: 0;
        margin-left: 30px;


        .escoOverview__statLabel,
        .escoOverview__statCount {
            font-size: $text-size;
            margin:0;
        }
        .escoOverview__statCount{
            font-size: $title-size;
        }

    }

    .icon--wrapper {
        display: flex;
        align-items: center;
    }

    .cards--wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        max-width: 30%;
    }

}



/* Buttons */
.btn--action {
    @include button;
    font-size: $text-size;
    background-color: $main-colour;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    width: 200px;
    padding: 5px;

    &:focus {
        border: solid 3px $main-colour;
  padding: 2px;
  background-clip: content-box; /* support: IE9+ */
  background-color:$main-colour;
    }
}

.btn--circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    line-height: 0;
    font-size: 20px;
    margin-bottom: 5px;

    &:focus {
        border: solid 1px $main-colour;
        padding: 1px;
    
    }
}

.btn--publish {
    @include button;
    font-size: 28px;
    color: #5cb85c;

    &.fa-rotate-180 {
        color: #d9534f;
    }
}

.btn--edit {
    margin-bottom: 15px;
}

.overview__wrapper {
    .distribution__row {
        .icons {
            font-size: 18px;
            &:focus{
                color:$accent-colour;
            }

            &:hover {
                color: rgba(28, 76, 209, 0.658);
            }
        }
    }
}



    /* Typography */
    .overview__wrapper {
        .title {
            font-size: $title-size;
            font-weight: 300;
            margin-top: 0;
            color: $main-colour;
            border-bottom: 1px solid $accent-colour;
            padding-bottom: 10px;
            word-break: break-word;
        }

        .distributions {
            .title {
                margin-bottom: 0;
                padding-bottom: 5px;
                border: 0;
            }
        }

        .description {
            font-size: 16px;
            color: $main-colour;
            margin-bottom: 40px;
            word-break: break-word;
        }

        .icons {
            @include button;
            font-size: 24px;
            color: $main-colour;
            margin-right: 10px;
            width: 24px;

            p {
                color: $main-colour;
            }
        }

        p {
            margin: 0;
        }

        .metadata__label {
            font-weight: bold;
        }
        .distribution__date{
            color:$main-colour;
            font-size: $text-size;
            margin-right: 10px;
        }
        .distribution__title{
            font-weight: bold;
        }
    }

     @media (max-width:1024px){
         .distribution__row{
             .distribution__format{
                 margin-bottom: 15px;
             }
         }

     }