/* Variables */
$main-colour:#1C4CD1;
$accent-colour: #FF8D41;
$secondary-font: 'Montserrat';
$text-size: 14px;
$title-size:20px;

/* Mixins */
@mixin button{
    background-color:transparent;
    border:0;
}

/* Layout */

.overview__wrapper{
    width: 100%;
    .flex--sb{
        display: flex;
        justify-content:space-between;
    }
    .metadata--basic , .metadata--more{
        column-count: 2;
        margin-bottom: 15px;
        color:$main-colour;
        max-width: 60%;
    }
    .metadata--more{
        padding: 10px;
        border:3px solid $main-colour;
        margin-top: -2px;
    }
   
    .distributions{
        width: 60%;
        .header{
            width: 50%;
            border-bottom:1px solid $accent-colour;
        }
       
    }
    .escoOverview__statBox{
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-left: 30px;

        .escoOverview__statLabel,.escoOverview__statCount{
            font-size: $title-size;
        }

    }
    .icon--wrapper{
        display: flex;
        align-items: center;
    }

    .cards--wrapper{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        max-width: 40%;
    }
    
}



/* Buttons */
.btn--action{
    @include button;
    font-size:$text-size;
    background-color:$main-colour;
    color:white;
    border-radius: 2px;
    text-transform: uppercase;
    width: 200px;
    padding:5px;
}
.btn--circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size:20px;
    
}

.btn--publish{
    @include button;
    font-size: 28px;
    color:#5cb85c;
    &.fa-rotate-180{
        color:#d9534f;
    }
}

.btn--edit{
    margin-bottom: 15px;
}

/* Typography */
.overview__wrapper{
    .title{
        font-size:$title-size ;
        text-transform: uppercase;
        font-weight: 300;
        color:$main-colour;
        border-bottom: 1px solid $accent-colour;
        padding-bottom: 10px;
    }
    .distributions{
        .title{
            margin-bottom: 0;
            padding-bottom: 5px;
            border:0;
        }
    }
    .description{
        font-size: 16px;
        color:$main-colour;
    }
    .icons{
        font-size:24px;
        color:$main-colour;
    }

    p{
        margin: 0;
    }
    .metadata__label{
     font-weight: bold;   
    }
}
