$main-colour:#1C4CD1;
$accent-colour: #FF8D41;
$light-background:#1c4cd117;
$secondary-font: 'Montserrat';
$text-size: 14px;
$title-size:20px;

@mixin title--underlined {
    font-size: $title-size;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    margin-top: 0;
    color: $main-colour;
    border-bottom: 1.5px solid $accent-colour;
    padding-bottom: 10px;
    word-break: break-word;
}
