.listRowBg {
  background-color: white;
  flex-wrap: wrap;
  cursor: pointer;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.3);
  border: 3px solid transparent;
  min-height: 65px;
  transition: background-color 2.5s ease;
}
.linkSuggestionToDataset {
  &:hover,
  &:active {
    .datasetRow__action__icon {
      color: green;
      opacity: 1 !important;
    }
  }

  .datasetRowBg {
    background-color: white;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.3);
    border: 3px solid transparent;
    min-height: 50px;
  }

  .datasetRow__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89%;
    align-items: center;
    padding: 0 20px;
  }

  .datasetRow__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    .datasetRow__action__icon {
      font-size: 18px;
      opacity: 0.2
    }

    .datasetRow__action__icon.active {
      color: green;
      opacity: 1
    }
  }
}
