@import '~commons/theme';
.stats-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color:$main-colour;
    .flex{
        display: flex;
    }
  
}
.distributionList__tabs{
    display: flex;
    margin:40px 0 20px;
    p{
        margin-right: 10px;
    }
}
.distributionList{
    width:600px;
    height: auto;
}
.flex--sb{
    display: flex;
    justify-content: space-between;
}
.row--right--wrapper,.header--wrapper--right{
    width: 40%;
}
.header--wrapper--right{
    justify-content: space-between;
    padding-right: 5px;

}

.stats__row--API {
   @include row--shadow;
    .row__title{
        font-weight: bold;
    }
    .stat__count{
       margin-left: 10px;
    }
    .row--right--wrapper{
        width: 10%;
    }
    .header--wrapper--right{
        justify-content: flex-end;
    }

}