@import '~commons/theme';

.distributionList{
    width:100%;
    position: relative;
}
.stats__row__wrapper--API{
    height: 300px;
    overflow-y: auto;
.stats-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color:$main-colour;
    .flex{
        display: flex;
    }
  
}
.distributionList__tabs{
    display: flex;
    margin:40px 0 20px;
    p{
        margin-right: 10px;
    }
}

.flex--sb{
    display: flex;
    justify-content: space-between;
}
.row--right--wrapper,.header--wrapper--right{
    width: 10%;
}
.header--wrapper--right{
    justify-content: space-between;
    padding-right: 5px;

}

.stats__row--API {
    cursor: pointer;
   @include row--shadow;
   &.selected{
    border:2px solid #1C4CD1;
}
    .row__title{
        font-weight: bold;
    }
    .stat__count{
       margin-left: 10px;
    }
    .header--wrapper--right{
        justify-content: flex-end;
    }

}
}