.escoDropdownRow__menu {
 /*   margin: 10px;*/
    padding: 10px 15px;
    padding-right: 0;
}
.escoDropdownRow__menu .escoDropdownRow__statusIcon {
  padding-right: 15px;
}
.escoDropdownRow__menuIcon.fa-shield.escoDropdownRow__menuDisabled {
    padding-right: 18px;
}
.escoDropdownRow__statusIcon {
    padding-top: 5px ;
    padding-right: 5px
}
.escoDropdownRow__menuList {
    min-width: 125px;
    cursor: pointer;
    text-align: left;
}
.escoDropdownRow__menuItemIcon {
    padding-top: 2px ;
    margin-left: -5px;
    margin-right: -5px;
}

.escoDropdownRow__menuItemText {
    font-size: small;
    padding-left: 8px;
}
