@import '~commons/theme.scss';

.visualizations__sandbox {
    .viz__wrapper{
        display:flex;
        h4{
            font-weight: bold;
            margin-bottom: 5px;
        }
        .vizOptions__wrapper{
            height: 600px;
            background:white;
            padding: 15px;
            min-width: 300px;
            .datasets__wrapper{}
            .vizTypes__wrapper{
                .graphType__card__wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    .btn{
                        margin: 5px;
                    }
                }

            }
            .axesOperations__wrapper{
                .axisOptions__wrapper{
                  .axisX__wrapper,.axisY__wrapper{
                      display: flex;
                  }
                    .form-group{
                        margin:0;
                        padding: 0;
                    }
                }
            }
        }
        .vizGraph_wrapper{
            img{
                width: 100%;
            }
        }
    }
 
}
