@import '~commons/theme.scss';

.visualizations__sandbox {
    label{
        font-size: 13px;
    }
    .viz__wrapper{
        display:flex;
        h4{
            color:$main-colour;
            font-weight: bold;
            margin:0px 15px 5px 0px;
        }
        .vizOptions__wrapper{
            min-height: 580px;
            background:white;
            padding: 15px;
            min-width: 300px;
            section{
                margin-top: 20px;
            }
            
            .datasets__wrapper{
                
                header{
                    display: flex;
                    align-items: center;
                    margin-bottom:15px;
                    .btn{
                        display: flex;
                        justify-content: center;
                        .fa-plus{
                            font-size: 14px;
                            position: relative;
                            vertical-align: top
                        }

                    }
                   
                }
                .btn__wrapper{
                    display: flex;
                    justify-content: flex-end;
                }
                .datasetSelector{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 20px 0;
                    &>div{
                        display: flex;
                    }
                    .dataset__metadata{
                        flex-direction: column;
                        
                        a{
                            cursor: pointer;
                        }
                    }
                    
                    .form-group{
                        margin:0;
                        .form-control{
                            margin:0;
                            min-width: 200px;
                        }
                    }
                    .btn{
                        padding: 10px 15px;
                        margin: 0;
                        height: 40px;
                        
                    }
                    .fa-times{
                        color:lightgray;
                        &:hover{
                            color:red;
                        }
                    }
                }
            }
            .vizTypes__wrapper{
                .graphType__card__wrapper{
                    .btn-group{
                        display:flex;
                    }
                    .btn{
                        width: 120px;
                        margin-right: 5px;
                    }
                }

            }
            .axesOperations__wrapper{
                .axisOptions__wrapper{
                  .axisX__wrapper,.axisY__wrapper{
                      display: flex;
                  }
                    .form-group{
                        margin:0;
                        padding: 0;
                        min-width: 100px;
                        margin-right: 10px;
                        .form-control{
                            margin-left:5px;
                        }
                    }

                }
            }
        }
        .vizGraph__wrapper{
            min-height: 580px;
            width:100%;
            position: relative;
            &>div{
                height: 100%;
            }
            .no-data {
                background-color: $green;
                min-height: 580px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color:white;
                font-size:18px;
                opacity: 0.7;
                height: 100%;
            }
            .chart-container{
                position: relative;
                height: 100%
            }
            img{
                width: 100%;
            }
        }
    }
 .vizNotes__help{
    margin-top:20px; 
    line-height: 2;
    p{
         font-size: 16px;
     }

        .fa-plus{
            font-size: 14px;
            margin-left: 5px;
            margin-right: 15px;
            width: 100px;
        }

    
 }
}
