@import '~commons/theme';

.stats__row__wrapper--file{
    height: 390px;
    overflow-y: scroll;

.stats-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color:$main-colour;
    .flex{
        display: flex;
    }
  
}
.distributionList__tabs{
    display: flex;
    margin:40px 0 20px;
    p{
        margin-right: 10px;
    }
}
.distributionList{
    width:100%;
    .input-group{
        display: flex;
    }
    .form-group{
        margin:0;
        padding: 0;
        margin-bottom:20px;
    }

    .searchButton{
        padding:10px;
        margin:0;
    }
    .no-data{
        height: 350px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        opacity: 0.7;
    }
}
.flex--sb{
    display: flex;
    justify-content: space-between;
}

.row--right--wrapper,.header--wrapper--right{
    width: 40%;
}
.header--wrapper--right{
    justify-content: space-between;
    padding-right: 5px;

}

.stats__row{
    cursor: pointer;
   @include row--shadow;
   border: 2px solid transparent;
    .row__title{
        font-weight: bold;
        word-break: break-word;

    }
    .row__text{
        word-break: break-word;
    }
    .stat__count{
        width: 25%;
    }

    &.selected{
        border:2px solid #1C4CD1;
    }
    .row__title--wrapper{
        display: flex;
        flex-direction: column;
    }

}
}