@import '~commons/theme';
.stats-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color:$main-colour;
    .flex{
        display: flex;
    }
  
}
.distributionList__tabs{
    display: flex;
    margin:40px 0 20px;
    p{
        margin-right: 10px;
    }
}
.distributionList{
    width:100%;
    min-height: 300px;
    height: auto;
    .searchButton{
        margin: 0;
    }
    .no-data{
        height: 150px;
        padding: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
.flex--sb{
    display: flex;
    justify-content: space-between;
}
.row--right--wrapper,.header--wrapper--right{
    width: 40%;
}
.header--wrapper--right{
    justify-content: space-between;
    padding-right: 5px;

}

.stats__row{
   @include row--shadow;
    .row__title{
        font-weight: bold;
        word-break: break-word;

    }
    .row__text{
        word-break: break-word;
    }
    .stat__count{
        width: 12%;
    }

}