@import '~commons/theme';

.stats__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h4 {
    font-weight: bold;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .data__wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    .pagination{
      align-self: center;
    }

    /* .stats__row__wrapper--file{
  .fa {
    margin: 0 10px;
    padding-right: 15px
  }
} */
    .stats__row__wrapper--API {
      .fas {
        margin: 0 10px;
        padding-right: 10px
      }
    }


    nav {
      display: flex;
      justify-content: center;
    }

    li {
      cursor: pointer;

    }
  }
}

.visualization__wrapper {
  width: 60%;
  padding-left: 20px;
}

.visualization__chart {
  width: 100%;
}

.stats__title {
  margin: 50px 0;

  h3 {
    font-size: 20px;
  }
}

// HACK for the datepicker
.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
  background-color: $main-colour;
}

.dtp-header-title {
  font-size: 14px;
  text-transform: uppercase;
}
