.stats__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .flex {
    display: flex;
    align-items: center;
  }

  .fa {
    margin: 0 10px;
  }

  nav {
    display: flex;
    justify-content: center;
  }
}

.visualization__chart {
  width: 400px;
  height: 85.5%;
  margin-left: 50px;
  background: royalblue;
}


// HACK for the datepicker
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background-color: #1C4CD1;
}

.dtp-header-title {
  font-size: 14px;
  text-transform: uppercase;
}
