@import '~commons/theme';

.chooser__wrapper {
  margin-bottom: 20px;

  .form-group {
    margin-top: 0;
  }

  .selectize-control.single .selectize-input {
    width: 150px;
    margin: 0 25px;
  }
}

.stats__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .data__wrapper {
    display: flex;
    flex-direction: column;

    .pagination {
      align-self: center;
    }

    .stats__row__wrapper--API {
      .fas {
        margin: 0 10px;
      }
    }


    nav {
      display: flex;
      justify-content: center;
    }

    li {
      cursor: pointer;

    }
  }
}

.visualization__wrapper {
  margin: 10px 0;

  .visualization__chart {
    width: 100%;
  }

  .chart-container {
    min-height: 300px;
  }

}


.stats__title {
  margin: 40px 0;

  h4 {
    font-size: 1.5rem;
  }
}

// HACK for the datepicker
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background-color: $main-colour;
}

.dtp-header-title {
  font-size: 14px;
  text-transform: uppercase;
}
