@import '~commons/theme.scss';
@import '../Button/index.scss';
//Buttons

.btn--distribution{
    @include button;
    width: 100px;
    background-color: $main-colour;
    padding:5px;
    margin:5px;
    min-height: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &:before{
        margin-right: 5px;
    }
    &:hover{
        background-color:royalblue;
    }
    span{
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }
}
.btn--distributionFile{
    @include button;
    padding: 3px 20px;
    width: 100%;
    display: flex;
    &:before{
        margin-right: 5px;
    }
    &:hover{
        border-bottom: 2px solid $main-colour;
    }
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

}
.distribution__expand{
    min-height: 200px;
    background-color:$light-background;
    padding: 10px;
    display: none;
    flex-direction: column;
    &.expanded{
        display: flex;
    }
    .distribution__format{
        justify-content: space-between;
        width: 100%;
    }
  
        .icon--wrapper.distribution--file{
            display: flex;
            flex-direction: column;
        }
    
    .distribution__format, .distribution__description{
        .title{
            @include title--underlined;
            border-bottom: 1.5px solid $accent-colour;
            width: 150px;
            font-size: $text-size;
            margin:5px;
            padding-bottom: 5px;
        }
        .text{
            margin:5px;
            color:$main-colour;
            }
        }

}

.distribution__fileRow{
    width: 75%;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    min-height: 50px;
    background-color: white;
    color: $main-colour;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
    .distribution__format{
        width: 50%;
    }
    .flex--sb{
        align-items: center;
        .distributionFile__date{
            margin-right: 5px;
        }
    }
    .file__dropdownMenu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  
    }
    .file__dropdownMenu.show{
        display: flex;
    }
}
