.escoEntityChooser__form {
    margin-bottom: -15px;
}

.escoLevels {
    margin-bottom: 50px;
    margin-top: 20px;
}

.escoLevels.rdforms .cardinality {
    width: auto;
}

.escoEntityChooser__group {
    margin-top: 10px;
}

.escoEntityChooser__label {
    margin-right: 10px;
}