.escoRDFEdit {
    position: relative;
    min-height: 200px;
    height: 100%;
}

.escoRDFEdit .nav-tabs li a {
    cursor: default;
}

.escoRDFEdit .tab-content .tab-pane {
    height: 100%;
}

.escoRDFEdit .tab-content {
    position: relative;
    /* height: 500px; */
    height: calc(100% - 45px);;
}

.escoRDFEdit .tab-content textarea {
    width: 100%;
    /* height: 450px; */
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: auto;
    font-family: monospace;
}

.escoRDFEdit .tab-content .form-group{
    height: 100%;
}
