.esreMerge {
    margin-top: 10px;
    margin-bottom: 100px;

    .list-group {
      margin-top: 10px;

      .esreCatalogDetect__sourceBlock {
        display: block;
        width: 100%;
      }
      .esreCatalogDetect__removeCatalogButton {
        position: absolute;
        right: 0;
      }
    }
}

.esreMerge__addMergeCatalogButton {
    margin: 0;
}

.sidebarMode .esreMerge {
    margin-left: 15px;
}

.esreMerge__mergeCatalogs {
    margin-left: 20px;
}

.esreMerge__header {
    margin-bottom: 20px;
}




.esreMerge .card .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
