.esreMerge {
  margin-top: 10px;
  margin-bottom: 100px;

  .list-group {
    margin-top: 10px;

    .esreCatalogDetect__sourceBlock {
      display: block;
      width: 100%;
    }
    .esreCatalogDetect__removeCatalogButton {
      position: absolute;
      right: 16px;
    }

    & :first-child {
      margin: 0;
    }
     .esreCatalogDetect__catalogStatus .fas {
      margin-right: 10px;
    }
  }


  .card {
    margin-bottom: 16px;

    .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.esreMerge__addMergeCatalogButton {
    margin: 0;
}

.sidebarMode .esreMerge {
    margin-left: 15px;
}

.esreMerge__mergeCatalogs {
    margin-left: 20px;
}

.esreMerge__header {
    margin-bottom: 20px;
}

