.facets {
  display: flex;
  flex-direction: column;
}

.skr_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar,
.header--titles {
  display: none;
}

.decoration--green {
  width: 20px;
  background-color: #33ed73;
  border: 2px solid black;
}

#title, #artist, #site, #address,#date{
  margin-bottom:20px;
}
.advanced--group--wrapper {
  display: none;
  justify-content: flex-end;
}

.advanced--group {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 10px;
  border: 2px solid black;
  max-width: 350px;
}

.search__label {
  min-width: 100px;
  color: black;
  margin: 10px;
}

.skr_container .main--2colums {
  max-width: 826px;
}

.heading--title {
  display: flex;
  font-weight: bold;
}

.filter--title {
  padding: 10px;
}

.search-wrapper {
  max-height: 36px;
  max-width: 40px;
  padding: 5px;
}

.search-wrapper--borderblack {
  display: none;
}

.btn--blackborder {
  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.btn--blackborder:hover {
  background-color: black;
  color: white;
}

.info-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.entryscape .cardList-body {
  border: 1px solid #e8e8e8;
  box-shadow: none !important;
  margin-right: 0 !important;
  padding-bottom: 10px !important;
  min-width: inherit;
  max-width: 350px;
}

.entryscape .cardList-body:hover,
.entryscape .cardList-body:focus {
  border: 1px solid #33ed73;
}

.cardList-title__art,
.cardList-title__date,
.cardList-title__text {
  margin: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
}

.cardList-title__date {
  padding: 0 !important;
  font-style: normal;
  font-size: 1.3rem;
}

.cardList-title__text {
  padding: 0 !important;
  font-style: normal;
  padding: .5rem;
  word-wrap: break-word;
  font-size: 1em;
  align-items: center;
}

.entryscape .category {
  font-weight: normal;
}

.entryscape .cardLayout>.entryList>.cardList-body>*>img {
  width: 100%;
  max-height: 100%;
}

.entryscape .block_facet h3 {
  font-weight: bold;
  border-bottom: 2px solid #33ed73 !important;
  font-family: 'Roboto', sans-serif !important;
}

.entryscape .block_facet h3:first-child {
  padding-top: 0 !important;
  margin-top: 5px !important;
}

.btn--search {
  height: 36px;
  border: 1px solid black;
}

.btn--green {
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
  border: none;
  font-weight: bold;
  background-color: #33ed73;
  background-image: none;
  color: #333;
}

.btn--green:hover {
  background-color: black;
  color: white;
}

.btn--search.btn--green {
  margin-left: 6px;
}

.btn--close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 25px;
  width: 30px;
  height: 30px;
}

.btn--large {
  width: 50px;
}

.btn--xl {
  width: 250px;
  min-width: 100px;
  min-height: 40px;
}

.fa-search-plus:before {
  content: "\F00E";
  position: absolute;
  top: 25px;
  opacity: 0.8;
  right: 30px;
  z-index: 666;
}

.btn--white,
.entryscape .block_facet>.btn--facet {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.entryscape .block_facet>.btn--facet {
  background-color: black;
  border: 0;
}

.selectize-input {
  width: 100% !important;
  border: 0 !important;
  border-bottom: 2px solid black !important;
  max-width: 745px;
  margin-left: 8px;
  border-radius: 0px !important;
  min-height: 36px !important;
}

.entryscape .selectize-dropdown,
.selectize-dropdown.form-control {
  box-shadow: none;
  border: 2px solid black;
  border-radius: 0;
  padding: 5px;
  /*  position: static; */
}

.entryscape .input-group {
  display: flex !important;
  width: 300px;
  margin-left: 20px;
}

.form-control {
  border-radius: 0px !important;
  min-height: 36px !important;
  max-width: 745px;
  margin-left: 8px;
  border: 0 !important;
  border-bottom: 2px solid black !important;
  box-shadow: none !important;
}

.entryscape .input-group-btn .btn-default {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0px;
  height: 36px;
}

.entryscape .input-group-btn .btn-default:hover {
  background-color: #33ed73;
  border-color: black;
}

.noBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow--down::before {
  font-family: 'FontAwesome';
  content: '\f107';
  margin-left: 10px;
  cursor: pointer;
}

.arrow--up::before {
  font-family: 'FontAwesome';
  content: '\f106';
  color: #33ed73;
  margin-left: 10px;
  cursor: pointer;
}

.entryscape .entryPagination .pagination>.active>a {
  color: #33ed73 !important;
  border-color: #333;
  background-color: white;
}

.entryscape .entryPagination .pagination>li>a,
.entryscape .entryPagination .pagination>li>span {
  border: none;
  font-weight: bold;
  color: #333 !important;
  font-size: 14px;
  margin-right: 12px;
  padding: 5px;
  border: 0 !important;
  cursor: pointer !important;
}



.entryscape .entryPagination .pagination>li>a:hover,
.entryPagination .pagination>.active>a:hover,
.entryList .entryPagination .pagination>li>span:hover {
  background-color: #333;
  color: white !important;
}

.entryscape .entryPagination .pagination>li:last-child>a,
.entryPagination .pagination>li:last-child>span {
  border: 1px solid black;
  margin-right: 6px;
}

.entryscape .entryPagination .pagination>li:first-child>a,
.entryPagination .pagination>li:first-child>span {
  border: 1px solid black;
  margin-right: 6px;
}



.facets--mobile,
.advanced--mobile {
  display: block;
  padding: 15px;
  position: absolute;
  background-color: #33ed73;
  top: 0;
  z-index: 4;
  width: 100vw;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
}

.facets--mobile .block_facet h3 {
  border-bottom: 2px solid white !important;
  border-width: 150px;
}

.advanced--mobile {
  height: 100vh;

}

.advanced--mobile .selectize-input {
  margin-left: 0;
}

.search--mobile--group {
  padding: 10px;
}

.title--mobile {
  margin-top: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 7px solid white;
}

.title--advanced {
  font-size: 24px;
}

.btn--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

/* Here starts details css */

.skr_container--details .nav--header {
  margin-top: 0;
  max-height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 15px !important;
}

.skr_container--details .main--flex {
  padding-top: 20px;
  margin: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.WorkOfArt__wrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 250px;
}


.WorkOfArt__metadata .rdformsLabel {
  font-weight: normal;
  text-transform: uppercase;
  color: #585757;
}

.WorkOfArt__metadata .rdformsLabel:hover {
  text-decoration: none;
  cursor: default;
}

.WorkOfArt__metadata .rdformsField>div {
  font-weight: bold;
  margin-left: 13px;
  word-break: none;
  display: flex;
}

.WorkOfArt__metadata .rdformsField {
  margin-left: 0;
}

.WorkOfArt__metadata {
  margin-left: 20px;
  min-height: auto;
  box-shadow: 0px 1px 5px #e8e8e8;
  padding: 1em;
  background-color: smokewhite;
}

.WorkOfArt__map,
.WorkOfArt__metadata {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  box-shadow: none;
  margin-bottom: 25px;
  border: 1px solid #e8e8e8;
  border-top: 4px solid #33ed73;
}

.WorkOfArt__map>p {
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

.WorkOfArt__map>img {
  width: 100%;
}

.WorkOfArt__wrapper .WorkOfArt__description {
  max-width: 400px;
  min-width: 250px;
  margin-bottom: 3em;
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 1.15em;
}

.popover-title {
  border-bottom: 4px solid #33ed73 !important;
  background-color: white;
}

.metadata__title {
  font-weight: bold;
  border-bottom: 2px solid #33ed73;
}

.entryscape .slick-prev:before,
.slick-next:before {
  font-family: 'FontAwesome' !important;
}

.entryscape .slick-prev:before {
  content: "\f104";
}

.entryscape .slick-next:before {
  content: "\f105";
}

.freetext--wrapper {
  margin-left: 10px;
}

.skr_container .main--2columns .flex--wrapper {
  flex-wrap: wrap;
  justify-content: center;

}

.flex--wrapper {
  display: flex;
}

.filtered--results {
  justify-content: center;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.filter--results {
  margin: 10px;
  font-size: 16px;
  border: 2px solid #33ed73;
  min-height: 30px;
  padding: 2px;
  min-width: 250px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-all;
}

.entryscape .btn--remove:before,
.entryscape .btn--remove {
  font-family: FontAwesome;
  content: "\f00d";
  border-style: none;
  color: black;
  background-color: white;
  font-size: 18px;
  margin-left: 5px;
}


.entryscape .label--filter {
  margin-left: 5px;
}

.entryscape .input-group {
  width: 214px;
}


@media(max-width:320px) {
  .entryscape .cardList-body {
    min-width: 150px !important;
  }
}

@media (min-width: 620px) {
  .sidebar .entryscape .block_facet>.btn--facet {
    font-weight: bold;
    background-color: #33ed73;
    background-image: none;
    color: #333;
    margin: 10px;
    width: 189px;
    border: none;
    margin-bottom: 20px;
    text-shadow: none;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 0;
    float: unset !important;
  }

  .sidebar .entryscape .block_facet>.btn--facet:hover {
    background-color: black;
    color: white;
    text-shadow: none;
  }

  .sidebar .entryscape .block_facet>.btn--facet:focus {
    background-color: black;
    border: 1px solid #33ed73;
    color: white;
  }

  .skr_container .sidebar {
    display: block;
  }

  .header--titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15px;
  }

  .skr_container {
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: initial;
    margin-top: 40px;
    padding-left: 5px !important;
    margin-right: 0;
    padding: 15px !important;
  }

  .cardList-container {
    padding: 10px;
    margin-left: 10px;
    max-width: 826px;
  }

  .selectize-control {
    margin-left: 10px;
    width: 300px;
  }

  .selectize-dropdown {
    margin: 2px 0 0 7px !important;
  }

  .btn--wrapper {
    margin-left: 20px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: flex-end;
  }

  .selectize-input {
    width: 100%;
  }

  .btn--filter--mobile,
  .facets--mobile,
  .btn--advanced--mobile,
  .advanced--mobile {
    display: none;
  }

  .entryscape .input-group {
    display: flex !important;
    width: 300px;
    margin-left: 20px;
    margin-right: 0;
  }

  .filter--results {
    min-width: 100px;
  }

  .skr_container .main--2columns .flex--wrapper {
    margin-left: 20px;
    justify-content: start;
  }
}



@media (min-width: 960px) {
  body .entryscape .cardLayout>*>*>.entryList.regular {
    column-count: 2;
  }
}

@media (max-width: 980px) {
  .skr_container--details .main--flex {
    flex-wrap: wrap;
  }

  .wrapper {
    padding: 0;
  }

  .slider-container {
    padding: 20px;
    min-width: 250px !important;
  }

}

@media (min-width: 1220px) {
  .search-wrapper--borderblack {
    display: block;
    border: 1px solid black;
  }
}