.escoList .entryList .psirow{
    display: flex;
    justify-content: space-between;
}
.escoList .entryList .psirow div {
    padding: 8px;
    height: 60px;
}
.escoList .entryList .rowTitle{
    font-weight: bold;
}

.escoList .entryList .psirow .entryName,
.escoList .entryList .psirow .entryName {
    padding-left: 20px;
}

.escoList .entryList .psirow .harvestDate,
.escoList .entryList .psirow .harvestDate {
    padding-right: 20px;
}

.psirow .entryName {
    width: auto;
}

.psirow .dcatAP {
    width: 100px;
    text-align: center;
}

.psirow .psiname {
    width: 100px;
    text-align: center;
}

.psirow .dcatAP,
.psirow .psiname {
    color: green;
}
.escoList .entryList .rowTitle .psirow .dcatAP{
    color: black;
}

.psirow .harvestDate {
    width: 130px;
    text-align: right;
}

.otherOrg .psiname {
    display: none;
}