.card-group .card__item {
    margin-bottom: 10px;
}

.card__item .card-title a {
    color: #fff;
    cursor: pointer;
}

.card__item .collapsed .fa-chevron-down {
    display: none;
}

.card__item .collapsed .fa-chevron-up {
    display: inline;
}

.card__item .fa-chevron-up {
    display: none;
}

.card__headerDate {
    float:right;
    font-size:12px;
}
