.esreSource {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.esreSource__header {
    position: relative;
}

.esreSource__button {
    margin-left: 20px;
}

.esreSource .escoRDFEdit {
    position: relative;
}

.esreSource .buttonRow {
    position: relative;
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.esreSource .buttonRow .warning-info{
    display: flex;
    justify-content:space-between;
}

.esreSource .buttonRow .btn{
    margin-top:0;
}
.esreSource .rdfValidationMessage {
    vertical-align: middle;
    padding: 8px;
    display: inline-block;
}

.sidebarMode .esreSource {
    margin-left: 15px;
}