@import '~commons/theme.scss';
@import '../Button/index.scss';

.overview__wrapper {
    width: 100%;

    .flex--sb {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .btn__wrapper{
        display: flex;
        flex-direction: column;
    }
    .intro--wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-wrap: break-word;
    }
    .metadata--wrapper{
        max-width: 70%;

    }

    .metadata--basic,
    .metadata--more {
        margin-bottom: 15px;
        color: $text-colour;
        p {
            margin-bottom: 10px;
        }
    }


    .cards--wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        max-width: 40%;
        max-height: 300px;
        margin-top:38px;
        .escoOverview__statBox {
            cursor: pointer;
            min-width: 110px;
            max-width: 115px;
            min-height: 120px;
            height: 120px;
            margin-right: 0;
            margin-left: 15px;
            padding: 7px;

            .escoOverview__statLabel,
            .escoOverview__statCount {
                font-size: $text-size;
                margin:0;
                margin-left: 3px;
            }
            .escoOverview__statCount{
                font-size: $title-size;
            }
    
        }

    }
  

    .icon--wrapper {
        display: flex;
        align-items: center;
    }
}



/* Buttons */





.externalPublish{
    margin:10px 0;
    min-width: 150px;
}


.intro--wrapper{
    .title{
        @include title--underlined;
    }
}


/* Typography */
.overview__wrapper {
    .description {
        font-size: 16px;
        color: $text-colour;
        margin-bottom: 40px;
        word-break: break-word;
    }

    .icon--wrapper{
        p {
            color: $text-colour;
        }
    }
    .icons {
        @include button;
        font-size: 24px;
        color: $main-colour;
        margin-right: 10px;
        width: 24px;
        &:hover{
            opacity: 0.7;
        }

    }

    .metadata__label {
        font-weight: bold;
    }
}
.distributions {
    width: 60%;

    .header {
        width: 28%;
        border-bottom: 1.5px solid $accent-colour;
        align-items: center;
        margin-top: 15px;
    }
}