.catalogOverview .page-header{
    border-bottom: none;
}
.escoOverview__description {
    color: #535353;
}

.escoOverview__statCount, .escoOverview__statLabel  {
    font-size: 36px;
    font-family: 'Montserrat';
    color:#FF8D41;
    text-align: start;
    margin:10px;
    font-weight: normal;
}
.escoOverview__statLabel{
    font-size: 30px;
    color:#1C4CD1;
    text-align: center;
}
.escoOverview__statBox {
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    margin: 15px;
}

.escoOverview__wrapper{
    display:flex;
    flex-wrap: wrap;
}
.escoOverview__title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color:#1C4CD1;
    border-bottom: 1px solid #FF8D41;
}
.escoOverview__termFact dt {
    clear: left;
    color: #535353;
    float: left;
    height: 20px;
    max-width: 100px;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

.escoOverview__termFact dd {
    color: #535353;
    height: 20px;
    white-space: nowrap;
    width: 400px;
    border: 0px none rgb(51, 51, 51);
    margin: 0px 0px 5px 120px;
}
