.catalogOverview.escoList{
    height: auto;
}

.catalogOverview .statBoxList{
    display: flex;
    flex-wrap: wrap;
}
.catalogOverview .page-header{
    border-bottom: none;
}
.escoOverview__description {
    color: #535353;
}

.escoOverview__statCount, .escoOverview__statLabel  {
    font-size: 48px;
    font-family: 'Montserrat';
    color:#FF8D41;
    text-align: start;
    margin:10px;
    font-weight: normal;
}
.escoOverview__statLabel{
    font-size: 28px;
    color:#1C4CD1;
    text-align: center;
}
.escoOverview__statBox {
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.escoOverview__wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.escoOverview__title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color:#1C4CD1;
    border-bottom: 1px solid #FF8D41;
    padding-bottom: 10px;
}


.catalog__status{
display: flex;
flex-direction: column;
}
.flex-wrapper{
    display: flex;
}
.catalog__status__label {
    color:#1c4cd1;
    font-weight: bolder;
    margin-right: 10px;
}

.catalog__status__value {
    color: #1C4CD1;
}
