@import '~commons/theme.scss';
@import '~commons/components/Button/index.scss';

.ESDropdown {
  position: relative;

  .icons {
    @include button;
    margin-right: 10px;
    width: 24px;
    align-self: center;

    font-size: 24px;
    color: $main-colour;

    &:hover {
      opacity: 0.7;
      color: $main-colour-hover;
    }

    &:focus {
      color: $main-colour;
    }
  }

  .row__dropdownMenu { // mimics .dropdown-menu of bootstrap
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 6;
    min-width: 10rem;
    margin: 0.125rem 0 0 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .row__dropdownMenuItem { // mimics .dropdown-item of bootstrap
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-width: 7rem;
    max-width: 17.5rem;
    min-height: 2rem;
    padding: 0;
    overflow: hidden;
    line-height: initial;
    text-overflow: ellipsis;
    word-wrap: break-word;

    > div {
      padding: 3px 20px;
      width: 100%;
      clear: both;

      i.fas {
        font-size: 0.85rem;
      }

      span {
        margin-left: 0.25rem;
      }
    }
  }

  .row__dropdownMenu.ESshow {
    display: flex;
  }

  .row__dropdownMenu.dropup {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}
