@import '~commons/theme.scss';

.row__dropdownMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 6;
    min-width: 140px;
    margin: 2px 0 0;
    padding:5px;
    padding-left:10px;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        Button{
        width: 100%;
        background-color: white;
        color:$text-colour;
        box-shadow: none;
        border-bottom: 2px solid transparent;
        font-size: 12px;
        margin: 0;
        text-transform:initial;
        &:hover{
            color:$main-colour;
            background-color: white;
        }
    }
}
.row__dropdownMenu.ESshow {
    display: flex;
}
.row__dropdownMenu.dropup {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);


    
}

