@import '~commons/theme';

.migrate__data {
  margin-bottom: 30px;
}

.migrate__filter-label {
  width: 170px;
}

.migrate__selectize {
  width: 300px;
  display: inline-block;
  position: relative;
}

.migrate__rdftype {
  display: inline-block;
  width: 300px;
}

.migrate__filter {
  margin-top: 20px;
  padding-bottom: 65px;
  border-bottom: 1px solid #d2d2d2;
}
.migrate__filter-block {
  margin-top: 0px;
}

.migrate__table {
  width: 100%;
  margin-top: 20px;
}

.migrate__table th>span {
  display: inline-block;
  height: 52px;
  padding-top: 10px;
}

.migrate__table input {
  width: 95%;
}

.migrate__table .form-group {
  margin-top: 0px;
}

.migrate__rowname {
  width: 170px;
}

.migrate__object-header select {
  font-size: 13px;
}

.migrate__object-header .form-group {
  display: inline-block;
}

.entry__row tr:last-child td {
  border-bottom: 1px solid grey;
}

.entry__row:last-child tr:last-child td {
  border-bottom-width: 0px;
}