@import '~commons/theme.scss';

.progressBar {
  display: flex;
  align-items: center;
  padding: 18px;
  margin-right: 16px;
  background-color: #fff;

  .progress {
    width: 120px;
    height: 10px;
    overflow: hidden;
    margin-bottom: initial;

    .progress-bar {
      &.incomplete {
        background-color: #f00;
      }
    }
  }
}
