@import '~commons/theme.scss';

.viz__editDialog {
    h4 {
        @include title--underlined;
        max-width: 80%;
        border-bottom: 0;
        font-weight: bold;
    }

    .viz__intro{
        margin-left: 10px;
    }
    .useFile__wrapper {
        .form-group {
            margin: 0;
            max-width: 60%;
        }

        .useFile__btn__wrapper {
            display: flex;
            justify-content: flex-end;
        }

    }

    .graphType__card__wrapper {
        display: flex;
        margin-top:20px;
    }

    .dropdown__wrapper {
        display: flex;
    }

    .axisOperation__wrapper,
    .graphType__wrapper,
    .useFile,
    .vizPreview__wrapper {
        margin-top: 40px;
        margin-left: 10px;
    }
   

    .axisOperation__wrapper {
        display: flex;
        .form-group{
            padding: 0;
            margin:0;
            .form-control{
                margin:10px;
            }
        }

        .axisOptions__wrapper {

            .axisX__wrapper,
            .axisY__wrapper {
                display: flex;
                align-items: center;
                .operations__wrapper{
                    margin-left: 20px;
                }
            }
        }
    }


}