@import '~commons/theme.scss';

.progressBar {
  height: calc(16px + 14px + 14px);
  padding: 14px;
  margin-right: 14px;

  background-color: #fff;

  .bar {
    width: 120px;
    height: 16px;

    overflow: hidden;

    .progress-bar {
      &.incomplete {
        background-color: #f00;
      }
    }
  }

}
