@import '~commons/theme.scss';

.progressBar {
  padding: 15px;

  background-color: #fff;

  .bar {
    width: 120px;
    height: 16px;

    overflow: hidden;

    .progress-bar {
      &.incomplete {
        background-color: #f00;
      }
    }
  }

}
