@import '~commons/theme.scss';

.metadata--wrapper {
    .metadata--more {
        width: 90%;

        .rdformsTopLevel {
            margin-bottom: 5px;

            .rdformsLabel {
                font-weight: bold;
                border: 0;
            }

            .rdformsField {
                background: transparent;
                margin-left: 0;
                padding-bottom: 5px;
                border-bottom:1px solid $main-colour;
            }
        }


    }
}