.suggestionRow {
  margin-bottom: 20px;

  .suggestionRow__main {
    width: 100%;
  }

  .suggestionRow__name {
    margin: 0 1em;
    font-size: 14px;
    flex-grow: 1;

    > * {
      margin-right: 1rem;
    }
  }

  .suggestionRow__actions {
    margin: 0 1rem;

    > * {
      margin-left: 1rem;
    }

    .fas {
      font-size: 1rem;
    }

    .dropdownCog {
      .fas.fa-cog {
        font-size: 1.4rem;
      }

      margin-left: 2rem;
    }
  }
}
