html {
  font-size: 16px;
}

body {
  background-color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif !important;
}

body, html {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.skr_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: none;
}

.main--2colums {
  grid-column-start: 2;
}

.search-wrapper {
  max-height: 36px;
  max-width: 40px;
  padding: 5px;
}

.search-wrapper--borderblack {
  display: none;
}

.btn--wrapper {
  margin-left: 8px;
  display: flex;
}

.btn--blackborder {
  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.btn--blackborder:hover {
  background-color: black;
  color: white;
}

.info-card-header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cardList-body {
  border: 1px solid #e8e8e8;
  box-shadow: none !important;
  margin-right: 0 !important;
}

.cardList-body:hover, .cardList-body:focus {
  border: 1px solid #33ed73;
}

.cardList-title__art, .cardList-title__date, .cardList-title__text {
  margin: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
}

.cardList-title__date {
  padding: 0 !important;
  font-style: normal;
  font-size: 1.3rem;
}

.cardList-title__text {
  padding: 0 !important;
  font-style: normal;
  padding: .5rem;
  word-wrap: break-word;
  font-size: 1em;
  align-items: center;
}

.category {
  font-weight: normal;
}

img {
  width: 100%;
  max-height: 100%;
}

.search-logo-wrapper>img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.block_facet h3 {
  font-weight: bold;
  border-bottom: 2px solid #33ed73 !important;
  font-family: 'Roboto', sans-serif !important;
}

.btn--green {
  margin-right: 8px;
  padding: 5px;
  border: none;
  font-weight: bold;
  background-color: #33ed73;
  background-image: none;
  color: #333;
}

.btn--green:hover {
  background-color: black;
  color: white;
}

.btn--search {
  height: 36px;
  border: 1px solid black;
}

.btn--close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.btn--large {
  width: 50px;
}

.btn--xl {
  width: 250px;
  min-width: 100px;
}
.block_facet>button {
  font-weight: bold;
  background-color: #33ed73;
  background-image: none;
  color: #333;
  margin: 10px;
  width: 189px;
  border: none;
  margin-bottom: 20px;
  text-shadow: none;
  text-transform: uppercase;
  box-shadow: none;
  border-radius: 0;
  float: unset !important;
}

.block_facet>button:hover {
  background-color: black;
  color: white;
  text-shadow: none;
}

.block_facet>button:focus {
  background-color: black;
  border: 1px solid #33ed73;
  color: white;
}

.selectize-input {
  width: 94vw !important;
  border: 1px solid #333 !important;
  max-width: 745px;
  margin-left: 8px;
  border-radius: 0px !important;
  min-height: 36px !important;
}

.pagination>.active>a {
  color: #4fe574 !important;
  border-color: #333;
  background-color: white;
}

.pagination>li>a, .pagination>li>span {
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #333 !important;
}

.pagination>li>a:hover, .pagination>.active>a:hover {
  background-color: #333;
  color: white !important;
}

.facets--mobile {
  transition: opacity 1s ease;
  position: absolute;
  background-color: #f4f4f4;
  top: 0;
  z-index: 2;
  width: 100vw;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.21);
}

.hidden {
  opacity: 0;
}

/* Here starts details css */

header {
  max-height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 0;
}

.main--flex {
  margin: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
  min-width: 250px;
}

.metadata .rdformsLabel {
  font-weight: bold;
}

.metadata .rdformsField>* {
  margin-left: 13px;
  word-break: none;
  display: flex;
}

 .metadata {
  min-height: auto;
  box-shadow: 0px 1px 5px #dcdcdc;
  padding: 1em;
  background-color: smokewhite;
}


.map, .metadata {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: auto;
  box-shadow: none;
  margin-bottom: 25px;
  border: 1px solid #e8e8e8;
  border-top: 4px solid #65f196;
}


.map>p {
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

.map>img {
  width: 100%;
}

.title {
  margin: 1em;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
}

.description {
  max-width: 400px;
  min-width: 250px;
  margin-bottom: 1em;
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 1.15em;
}

.popover-title {
  border-bottom: 4px solid #65f196 !important;
  background-color: white;
}


.slick-prev:after {
  content: "\f04b";
}

.slick-next:before {
  content: "\f04b";
}

h4 {
  font-weight: bold;
  border-bottom: 2px solid #33ed73;
}

@media (max-width: 600px) {
  main {
    flex-wrap: wrap;
  }
  .wrapper {
    padding: 0;
  }
  .slider-container {
    padding: 20px;
    min-width: 250px !important;
  }
}

@media (min-width: 620px) {
  .main-header {
    display: flex;
  }
  .sidebar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    /* border: 1px solid #e8e8e8; */
  }
  .skr_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: initial;
  }
  .card-container {
    padding: 10px;
    margin-left: 10px;
    padding-right: 0;
  }
  .selectize-control {
    margin-left: 21px;
  }
  .selectize-dropdown{
    margin: 2px 0 0 7px !important;

  }
  .btn--wrapper {
    margin-left: 0;
  }
  .btn--green {
    margin-right: 0;
  }
  .selectize-input {
    width: 75vw;
  }
  .btn--filter--mobile {
    display: none;
  }
}

@media (min-width: 1220px) {
  .search-wrapper--borderblack {
    display: block;
    border: 1px solid black;
  }
}
