.esrePipelineResult .collapsed .fa-chevron-down {
    display: none;
}

.esrePipelineResult .collapsed .fa-chevron-up {
    display: inline;
}

.esrePipelineResult .fa-chevron-up {
    display: none;
}

.esrePipelineResult a {
    cursor: pointer;
    display: block;
    color: black;
}

.esrePipelineResult__table {
    margin-bottom: 0px;
    table-layout: fixed;
}

.esrePipelineResult__alertRDF {
    word-wrap: break-word;
}


.esrePipelineResultsView__label {
    padding-right: 7px;
}


.esrePipelineResultsView__infoIcon {
    float:left;
    margin:5px 10px 0 0;
}
